name: flutter_web_api
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  http: ^1.5.0
  flutter_form_builder: ^10.2.0
  form_builder_validators: ^11.2.0
  flutter_svg: ^2.2.0
  provider: ^6.0.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets: 
   - assets/undraw_to-do-list_o3jf.svg
